*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.wrapper, .porfolio{
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;

}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.brand span{
    color: aqua;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;

}

.menu .active{
    color: aqua;

}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    align-items: center;
}

h1{
    font-size: 3em;
}

span {
    color: aqua;
}

.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200 , .69) ;
}

.download-cv:hover{
    background-color: white;
    box-shadow: none;
}

.main img{
    width: 400px;
    border: 7px solid aqua;
    height: 520px;
}

.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}

.about img{
    width: 100%;
    grid-column: 1/5 ;

}

.about-info {
    grid-column: 5/10 ;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: #191c32;
}

.divider{
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p{
    margin-bottom: 1em;
}

.portfolio-headings{
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2{
    font-size: 2.5em;
}

.porfolio .container{
    width: 80wv;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    height: 370px;
    background-color: rgb(28, 71, 128);
}

.card_img{
    width: 100%;
    height: 150px;
    background-image: url(../Tools/logo_academlo\ 5.jpg);
    background-size: cover;
}

.card_title{
    padding: 20px;
}
.card_projects-links{
    display: flex;
    justify-content: space-evenly;
}

.card_projects-links a{
    color: white;
    text-decoration: none;
}

.card_projects-links i{
    font-size: 1.5em;
}

.card .project_details{
    margin: 0 auto;
    margin: 1em;
    width: 70%;
    display: flex;
}

.card .project_details a{
    text-decoration: none;
    color:#191c32 ;
    text-transform: uppercase;
}

.proyect-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em ;
}